<!DOCTYPE html>
<html>
  <head>
    <title>HealthCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Principal" asp-action="Inicio">
          <img src="~/Images/asmol.jpeg" height="60" width="150"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li>
              <%= link_to "Home", root_path,:class => "nav-link" %>
            </li>
            <li>
              <%= link_to "Sign In", login_url,:class => "nav-link" %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_path,:class => "nav-link" %>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
